<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../style.css">
<meta charset="utf-8">
<body>
    <div id="bandeau">
        <nav>
          <ul>
            <h1>Saisie du score</h1>
            <a href="http://localhost:8080/index.html"><button>Accueil</button></a></li>
            <a href="/joueur/creer"><button>Créer un joueur</button></a></li>
            <a href="/match/creer"><button>Créer un match</button></a></li>
            <a href="/joueur/lister"><button>Liste des joueurs</button></a></li>
            <a href="/match/lister"><button>Liste des matchs</button></a></li>
            <a href="/match/tableau"><button>Tableau</button></a></li>
          </ul>
        </nav>
      </div>
    <form action="#" th:object="${match}" method="post">
        <label for="score">Score</label>
        <input type="text" id="score" th:field="*{score}" placeholder="Entrez le score du match">
        <a th:href="@{/match/creer}" class="btn btn-danger" role="button"><button>Enregistrer</button></a>
    </form>
</body>
</html>