<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <meta charset="utf-8">
  <body>
    <div id="bandeau">
      <nav>
        <ul>
          <h1>Tableau du tournoi</h1>
          <a href="http://localhost:8080/index.html"><button>Accueil</button></a></li>
          <a href="/joueur/creer"><button>Créer Joueur</button></a></li>
          <a href="/match/creer"><button>Créer un match</button></a></li>
          <a href="/joueur/lister"><button>Liste des joueurs</button></a></li>
          <a href="/match/lister"><button>Liste des matchs</button></a></li>
        </ul>
      </nav>
    </div>
    <table>
        <tr>
          <th colspan="2">Quarts de finale</th>
        </tr>
        <tr>
          <td>Match 1</td>
          <td>Joueur 1</td>
        </tr>
        <tr>
          <td></td>
          <td>Joueur 2</td>
        </tr>
        <tr>
          <td>Match 2</td>
          <td>Joueur 3</td>
        </tr>
        <tr>
          <td></td>
          <td>Joueur 4</td>
        </tr>
        <tr>
          <td>Match 3</td>
          <td>Joueur 5</td>
        </tr>
        <tr>
          <td></td>
          <td>Joueur 6</td>
        </tr>
        <tr>
          <td>Match 4</td>
          <td>Joueur 7</td>
        </tr>
        <tr>
          <td></td>
          <td>Joueur 8</td>
        </tr>
        <tr>
          <th colspan="2">Demi-finales</th>
        </tr>
        <tr>
          <td>Match 5</td>
          <td>Gagnant Match 1</td>
        </tr>
        <tr>
          <td></td>
          <td>Gagnant Match 2</td>
        </tr>
        <tr>
          <td>Match 6</td>
          <td>Gagnant Match 3</td>
        </tr>
        <tr>
          <td></td>
          <td>Gagnant Match 4</td>
        </tr>
        <tr>
          <th colspan="2">Finale</th>
        </tr>
        <tr>
          <td>Match 7</td>
          <td>Gagnant Match 5</td>
        </tr>
        <tr>
          <td></td>
          <td>Gagnant Match 6</td>
        </tr>
      </table>
      
  </body>
</html>
